################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/frontend
/.idea/.idea.frontend/.idea
/frontend/bin/Debug/netcoreapp3.1
/frontend/bin/Release/netcoreapp3.1
/frontend/obj
/frontend/Properties/PublishProfiles
